/* Colors */

$primary-color: #2563eb;
$secondary-color: #1d4ed8;

$success-color: #22c55e;
$warning-color: #f59e0b;
$error-color: #ef4444;

$text-color: #1f2937;
$text-light: #6b7280;

$background-color: #f5f7fa;
$surface-color: #ffffff;

$border-color: #d1d5db;


/* Radius */

$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 18px;


/* Shadow */

$shadow-sm:0 2px 8px rgba(0,0,0,.08);

$shadow-md:0 8px 20px rgba(0,0,0,.12);

$shadow-lg:0 15px 40px rgba(0,0,0,.15);


/* Font */

$font-family:
"Inter",
sans-serif;