html,
body{
    height:100%;
}

body{

    font-family: "Inter", sans-serif;

    background: var(--background);

    color: var(--text-primary);

    transition:.3s;

}

*{
    box-sizing:border-box;
}